<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>会計</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery-1.8.3.min.js"></script>
    <script>
        var timerId; //setTimeOutを止めるのに使う
        function writeSyouhinList(hairetu) {
            //プルダウンの値を保持するため①
            var keepVal = [];
            $('select').each(function (index, element) {
                keepVal.push($(element).val());
            });
            $('.syouhin').each(function () {
                $(this).remove();
            })
            hairetu.forEach(function (obj, index) {
                var uriage = parseInt(obj.nedan) * parseInt(obj.uriagekosu);
                var select = $('<select class="syouhin' + index + '"></select>');
                var opt = [];
                for (var i = 1; i <= 10; i++) {
                    opt.push('<option value="' + i + '">' + i + '個</option>');
                }
                select.append(opt.join(''));
                var elem = $('<tr class="syouhin"></tr>')
                    .append('<td>' + obj.syouhinmei + '</td>')
                    .append('<td>' + obj.nedan + '</td>')
                    .append('<td>' + obj.uriagekosu + '</td>')
                    .append('<td>' + uriage + '</td>')
                    .append($('<td></td>').append(select))
                    .append('<td><input class="kounyu" id="syouhin' + index + '" type="button" value="購入" /></td>');
                $('#syouhinList').append(elem);
            });
            // プルダウンの値を維持するため②
            $('select').each(function (index, element) {
                $(element).val(keepVal[index]);
            });

        }

        function addToNyuryokuList(obj) {
            var elem = $('<tr id=' + obj.id + ' class="kounyu"></tr>')
                .append('<td>' + obj.time + '</td>')
                .append('<td>' + obj.syouhinmei + '</td>')
                .append('<td>' + obj.kosu + '</td>')
                .append('<td>' + obj.kingaku + '</td>')
                .append('<td><input class="sakujo" type="button" value="削除"></td>')
            if (obj.delete == true) {
                elem.addClass("deleted");
            }
            $("#nyuryokuList").after(elem);
        }

        function recieveNyuryokuDate(syouhinList, obj) {
            var id = obj.syouhinId;
            var syouhinmei = syouhinList[id].syouhinmei;
            var kingaku = parseInt(syouhinList[id].nedan) * parseInt(obj.kosu);
            var addObj = {
                time: obj.time,
                syouhinmei: syouhinmei,
                kosu: obj.kosu,
                kingaku: kingaku,
                id: obj._id,
                delete: obj.delete
            };
            addToNyuryokuList(addObj);
        }

        function alertOnDiv(str, sec) { //引数なしでクリア
            if (str == undefined && sec == undefined) {
                $('#message').html("");
            } else {
                clearTimeout(timerId);
                if (sec == undefined) sec = 5;
                var elem = $('<div id="alert"></div>').html(str);
                $('#message').html(elem);
                timerId = setTimeout(function () {
                    $('#alert').remove();
                }, sec * 1000);
            }
        }

        function toHankakuNum(motoText) {
            han = "0123456789.,-+";
            zen = "０１２３４５６７８９．，－＋";
            str = "";
            for (i = 0; i < motoText.length; i++) {
                c = motoText.charAt(i);
                n = zen.indexOf(c, 0);
                if (n >= 0) c = han.charAt(n);
                str += c;
            }
            return str;
        }

        function hideDeleted() {

        }
        $(function () {
            var syouhin = [];
            var socket = io.connect('http://' + location.host + '/');
            $(document).on('click', '#syouhintuika', function () {
                console.log('クリック：#syouhintuika');
                var syouhinmei = $('#tsuikasyouhin').val();
                var syouhinNedan = toHankakuNum($('#syouhinnedan').val());
                var syouhinData = {
                    syouhinmei: syouhinmei,
                    nedan: syouhinNedan
                }
                socket.emit('addSyouhin', syouhinData);
                $('#tsuikasyouhin').val('');
                $('#syouhinnedan').val('');
                $(this).parent().parent().find('select:first').val('1'); //動いてない
            });
            $(document).on('click', '.kounyu', function () {
                console.log('クリック：.kounyu');
                var date = new Date();
                var month = date.getMonth() + 1;
                var day = date.getDate();
                var hour = date.getHours();
                var minute = date.getMinutes();
                var id = $(this).attr('id').slice(7);
                var kosu = $('select.syouhin' + id).val();
                var kounyuData = {
                    time: month + '/' + day + ' ' + hour + ':' + minute,
                    syouhinId: id,
                    kosu: kosu
                }
                socket.emit('addKounyu', kounyuData);
            });
            $(document).on('click', '.sakujo', function () {
                console.log('クリック：.sakujo');
                var sakujoId = $(this).closest('tr').attr("id");
                socket.emit('sakujo', sakujoId);
            });
            $(document).on('click', '.sakujoTorikesi', function () {
                console.log('クリック：.sakujoTorikesi');
                $(this).addClass('sakujoTorikesiEnd').removeClass('sakujoTorikesi');
                $(this).val('完了');
                $('.sakujo').val('復活');
                $('.deleted').addClass('usui');
                $('.sakujo').closest('tr:not(.usui)').find('.sakujo:first').addClass('deleted');
                $('.sakujo').addClass('hukkatu');
                $('.sakujo').removeClass('sakujo');
                $(document).on('click', '.hukkatu', function () {
                    console.log('クリック：.hukkatu');
                    var hukkatuId = $(this).closest('tr').attr("id");
                    $(this).addClass('deleted');
                    socket.emit('hukkatu', hukkatuId);
                });
            });
            $(document).on('click', '.sakujoTorikesiEnd', function () {
                console.log('クリック：.sakujoTorikesiEnd');
                $(this).addClass('sakujoTorikesi').removeClass('sakujoTorikesiEnd');
                $(this).val('復活モード');
                $('.hukkatu').removeClass('deleted').addClass('sakujo').removeClass('hukkatu').val('削除');
                $('.usui').removeClass('usui');
            });
            $('input').keypress(function (ev) {
                if ((ev.which && ev.which === 13) || (ev.keyCode && ev.keyCode === 13)) {
                    $('#syouhintuika').trigger('click');
                    return false;
                } else {
                    return true;
                }
            });
            socket.on('addKounyuRe', function (kounyuData) {
                recieveNyuryokuDate(syouhin, kounyuData);
            });
            socket.on('addSyouhinRe', function (syouhinData) {
                var ruikei = 0;
                syouhinData.forEach(function (data) {
                    ruikei += data.nedan * data.uriagekosu;
                });
                $('#ruikei').text(ruikei);
                syouhin = syouhinData;
                writeSyouhinList(syouhinData);
            });
            socket.on('deleteRe', function (sakujoId) {
                $('#' + sakujoId).closest('tr').addClass('deleted');
            });
            socket.on('hukkatuRe', function (hukkatuId) {
                $('#' + hukkatuId).closest('tr').removeClass('deleted usui');
            });
            socket.on('Error', function (msg) {
                if (msg.length == 0) {
                    alertOnDiv();
                } else {
                    alertOnDiv(msg)
                }
            });
        });
    </script>
</head>

<body>
    <form>
        商品名
        <input id="tsuikasyouhin" type="text">
        <br>値段
        <input id="syouhinnedan">
        <input id="syouhintuika" type="button" value="商品追加">
    </form>
    <div id="message"></div>
    <div>
        <div>
            <table>
                <tr>
                    <th>累計売上</th>
                    <td id="ruikei"></td>
                </tr>
            </table>
        </div>
        <table id="syouhinList">
            <tr>
                <th>商品名</th>
                <th>値段</th>
                <th>売上個数</th>
                <th>売上</th>
            </tr>
        </table>
        <table>
            <tr id="nyuryokuList">
                <th>時間</th>
                <th>商品名</th>
                <th>個数</th>
                <th>値段</th>
                <th>
                    <input class="sakujoTorikesi" type="button" value="復活モード">
                </th>
            </tr>
        </table>
    </div>
</body>

</html>